.card-cart-flex {
    display: flex;
    justify-content: space-around;
}

.card-flex {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30%;
}

.cart {
    width: 40%;
    box-shadow: var(--box-shadow);
    padding: 0 2rem;
    border-radius: 10px;
    height: fit-content;
}

.cart-heading {
    padding: 2rem;
    color: var(--primary-color);
}

.cart-price {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.cart-shipping {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.cart-discount {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.horizontal-line {
    margin: 1rem 0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.cross-icon {
    width: 10px;
    height: 10px;
}

.item-number {
    font-size: 1.5rem;
    font-weight: 800;
}

.item-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    padding: 0 2px;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    margin: 0 10px;
    cursor: pointer;
}