.homepage-content {
    width: 80%;
    margin: 3rem auto;    
}

.homepage-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.image-container {
    position: relative;
    text-align: center;
}

.content {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-35%, -35%);
    color: var(--background-color);
    font-size: 3rem;
    font-weight: 1000;
}

.genre {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}


