.homepage-content {
    width: 80%;
    margin: 3rem auto;    
}

.homepage-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.container {
    position: relative;
    text-align: center;
}

.content {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-35%, -35%);
    color: var(--background-color);
    font-size: 3rem;
    font-weight: 1000;
}

.products-link {
    margin-top: 2rem;
    margin-left: 1rem;
}

.button {
    font-weight: 700;
    font-size: 1.5rem;
    background: var(--default-color);
    color: var(--background-color);
    width: max-content;
    padding: 1rem 1rem;
    border-radius: 1.7rem;
    border: none;
    cursor: pointer;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}

.link-button {
    background-color: var(--default-color);
    color: var(--background-color);
}

.link {
    text-decoration: none;
    color: var(--background-color);
}

.genre {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

  