@import url(/css/signin.css);

.sign-up-heading {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.email-box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.sign-up {
    color: var(--secondary-color);
}

.sign-up-link {
    font-style: italic;
    color: var(--text-color);
}