* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.h1-text {
    margin: 2rem;
}

.card {
    width: 20%;
}
